{% extends 'portal.html' %}

{% load selectable_tags %}

{% block title %}
  {{assessment}} | Tasks | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'mgmt:assessment_dashboard' assessment.pk %}">Management dashboard</a><span class="divider">/</span></li>
  <li><a href="{% url 'mgmt:assessment_tasks' assessment.pk %}">Task list</a><span class="divider">/</span></li>
  <li class="active">Modify<span class="divider">/</span></li>
{% endblock %}

{% block content %}

  <h2>Modify task assignments</h2>
  <h3 onclick="$('#taskTable').toggle();$('#tTOpen').toggle();$('#tTClose').toggle();">Study Assignments [<span id="tTOpen" style="display:none;">+</span><span id="tTClose">-</span>]</h3>

  <div id='taskTable'></div>
  
  <h3 onclick="$('#ertaskTable').toggle();$('#eTOpen').toggle();$('#eTClose').toggle();">Endpoint Assignments [<span id="eTOpen" style="display:none;">+</span><span id="eTClose">-</span>]</h3>

 <div id="ertaskTable"></div>

  <!--
 <div id="EndpointTable">
    {% for anendpoint in endpoint_list %}
      {% if forloop.first %}
      <div class="flexRow-container">
        <h5 class="flex-1">Study</h5>
        <h5 class="flex-1">Experiment</h5>
        <h5 class="flex-1">Animal group</h5>
        <h5 class="flex-1">Endpoint</h5>
        <h5 class="flex-1">Risk of bias completed</h5>
      </div>
      {% endif %}
      <div>
        <div>
          <div class="flexRow-container taskEndpoint">
            <div class="study-label flex-1"><a href="{% url 'study:detail' anendpoint.endpoint.animal_group.experiment.study.id %}" target="_blank">{{ anendpoint.endpoint.animal_group.experiment.study.short_citation }}</a><br><b>Date created: </b><span>{{ anendpoint.endpoint.animal_group.experiment.study.created|date:"SHORT_DATE_FORMAT" }}</span></div>
            <div class="study-label flex-1 relative-parent"><a href="{% url 'animal:experiment_detail' anendpoint.endpoint.animal_group.experiment.pk %}" target="_blank">{{ anendpoint.endpoint.animal_group.experiment.name }}</a></div>
            <div class="study-label flex-1 relative-parent"><a href="{% url 'animal:animal_group_detail' anendpoint.endpoint.animal_group.pk %}" target="_blank">{{ anendpoint.endpoint.animal_group.name }}</a></div>
            <div class="study-label flex-1 relative-parent"><a href="{% url 'animal:endpoint_detail' anendpoint.pk %}" target="_blank">{{ anendpoint.name }}</a></div>
		  </div>
          <div class="flexRow-container task-0">
			<div class="study-label flex-1 relative-parent"></div>
			<div class="study-label flex-1 relative-parent">
			  <label class="control-label" for="4360-owner">Owner</label>
			  <div class="autocomplete__container">
			    <input type="text" value="Alan Sasso" autocomplete="off" role="combobox" aria-autocomplete="list" aria-owns="react-autowhatever-4360-owner" aria-expanded="false" aria-haspopup="false" class="autocomplete__input">
				<div id="react-autowhatever-4360-owner" class="autocomplete__suggestions-container"></div>
			  </div>
			</div>
			<div class="study-label flex-1 relative-parent">
			  <label class="control-label" for="4360-status_selection">Status</label>
			  <select id="4360-status_selection" name="status_selection" style="width: auto;">
			    <option value="10">not started</option>
				<option value="20">started</option>
				<option value="30">completed</option>
				<option value="40">abandoned</option>
			  </select>
			  <i class="fa fa-circle" style="padding: 5px; color: rgb(255, 204, 0); height: 25px; vertical-align: middle;"></i>
			</div>
			<div class="study-label flex-1 relative-parent">
			  <label for="4360-due_date" class="control-label">Due date (optional)</label>
			  <div class="react-datepicker__input-container">
			    <input type="text" id="4360-due_date" class="" value="">
			  </div>
			</div>
			
          </div><hr/>
        </div>
      </div>
    {% endfor %}
</div>
-->	
{% endblock %}


{% block extrajs %}
<script id="config" type="text/json" charset="utf-8">
    {
        "assessment_id": "{{ assessment.id }}",
        "csrf": "{{ csrf_token }}",
        "host": "//{{ request.get_host }}",
        "type": "edit",
        "cancelUrl": "{% url 'mgmt:assessment_tasks' assessment.pk %}",
        "tasks": {
            "url": "{% url 'mgmt:api:task-list' %}"
        },
        "ertasks": {
            "url": "{% url 'mgmt:api:ertask-list' %}"
        },
        "studies": {
            "url": "{% url 'study:api:study-list' %}?assessment_id={{assessment.pk}}"
        },
       "endpoints": {
            "url": "{% url 'animal:api:endpointsummary-list' %}?assessment_id={{assessment.pk}}"
        },
        "autocomplete": {
            "url": "{% url 'selectable-lookup' 'myuser-assessmentteammemberorhigherlookup' %}"
        }
    }
</script>
<script type="text/javascript">
window.app.mgmtStartup(function(mgmt){
    mgmt.TaskTable(document.getElementById('taskTable'))
    mgmt.ERTaskTable(document.getElementById('ertaskTable'))
});
</script>
{% endblock extrajs %}
