.effectTagsClearBoth {
	clear: both;
}

.effectTagsDiv {
}

.effectTagsSectionTitle {
    font-size: 1.3em;
}

.effectTagCaptionDiv {
	background-color: #004444;
	color: #FFFFFF;
	text-align: left;
    margin: 5px 0 0 0;
    padding: 2px 3px 3px 3px;
    clear: both;
}

.effectTagCaption_button {
	float: left;
	margin: 0 0 0 0;
	padding: 0 5px 0 0;
}

.efectTagCaption_name {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.effectTagDiv {
	margin: 4px 0 5px 0;
	padding: 2px 3px 0 2px;
}

.effectTagDivRow {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.effectTagDiv_leftButton {
	float: left;
	width: 33px;
	margin: 0 0 0 0;
	padding: 0 5px 0 0;
}

.effectTagDiv_details {
	float: left;
	width: 400px;
	margin: 0 0 0 0;
	padding: 0 5px 0 0;
}

.effectTagDiv_rightButtons {
	float: right;
	width: 33px;
	margin: 0 0 0 0;
	padding: 0 0 0 5px;
}

.react-autosuggest__suggestions-list {
    border: 1px solid #000000;
    margin: -11px 0 0 0;
    padding: 0 5px 5px 5px;
    list-style: none;
    background-color: #FFFFFF;
}

.react-autosuggest__suggestion {
    padding: 0 0 5px 0;
    cursor: pointer;
}

.react-autosuggest__suggestion:hover {
    background-color: #000000;
    color: #FFFFFF;
}