{% extends "portal.html" %}

{% block title %}
  {{assessment}} | Add HERO Project | HAWC 
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
<h1>{{object}}</h1>

{% if curLevel > 0 %}

The project <strong>{{ myVar2.project }}</strong> has the following tags:<br/>

<!-- For Testing: Show the Imported JSON from HERO -->
<!-- <hr/><h3>Imported JSON from HERO:</h3>
{{myVar2}} -->


<!-- For Testing: Show The HERO Tag Tree for this project -->
<!-- <hr/><h3>Expected HERO Tag Tree to be added:</h3>
{% for result in myVar2.children %}
- {{result.usage}}<br/>
	{% for result2 in result.children %}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{result2.usage}}<br/>
		{% for result3 in result2.children %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{result3.usage}}<br/>
			{% for result4 in result3.children %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{result4.usage}}<br/>
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endfor %} -->

<!-- For Testing: Show the HAWC Generated JSON for the exisiting tag tree -->
<!-- <hr/><h3>HAWC Generated JSON:</h3>
{{tempString}} -->

<!-- For Testing: Show the JSON with HERO tags embedded -->
<!-- <hr/><h3>With HERO Tags Added:</h3>
{{tags}} -->

<div class="span6">
  <h3>HERO Tags:</h3>
  <div id="tags"></div>
</div>
{% else %}

There are no tags associated with this HERO project.<br/>

{% endif %}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.litStartup(function(lit){
      window.tagtree = new lit.TagTree({{tags|safe}});
      $('#tags').html(window.tagtree.get_nested_list({"show_refs_count": false}))
    });
  </script>
{% endblock extrajs %}