{% extends "portal.html" %}

{% block title %}
  {{assessment}} | Add HERO Project | HAWC 
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
  <h1>{{object}}</h1>

  {% if curLevel > 0 %}

    {% if curLevel == 1 %}
      The following HERO tags have been added to the <strong>{{ myVar2.project }}</strong> project:<br/>
    {%else%}
      The following HERO tags have <em>previously</em> been added to the <strong>{{ myVar2.project }}</strong> project:<br/>
    {% endif %}

    <div class="span6">
      <h3>HERO Tags:</h3>
      <div id="tags"></div>
    </div>
  {% else %}

    There are no tags associated with this HERO project.<br/>

  {% endif %}
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.litStartup(function(lit){
      window.isEdit = true;
      // {% if obj_perms.edit_assessment %}
          window.tag_edit_url = '{% url 'lit:tags_update' assessment.pk %}'
      // {% endif %}
      window.tagtree = new lit.TagTree({{tags|safe}});
      window.refs = [];
      {% for ref in references %}
          refs.push(new lit.Reference({{ref.get_json|safe}}, window.tagtree));
      {% endfor %}
      window.ref_container = new lit.EditReferenceContainer(window.refs, window.tagtree,
                                    {"content_div": "#reference_details"});

      $('#tags').html(window.tagtree.get_nested_list({"show_refs_count": false}))
    });
  </script>
{% endblock extrajs %}