{% extends "portal.html" %}

{% block title %}
  {{assessment}} | Add HERO Project | HAWC 
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
<h1>{{object}}</h1>

The project <strong>{{ myVar2.project}}</strong> has the following tags:<br/>

<!-- <hr/><h3>Imported JSON from HERO:</h3>
{{myVar2}}
 -->

<hr/><h3>Expected HERO Tag Tree to be added:</h3>
{% for result in myVar2.children %}
- {{result.usage}}<br/>
	{% for result2 in result.children %}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{result2.usage}}<br/>
		{% for result3 in result2.children %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{result3.usage}}<br/>
			{% for result4 in result3.children %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{result4.usage}}<br/>
			{% endfor %}
		{% endfor %}
	{% endfor %}
{% endfor %}

<hr/><h3>HAWC Generated JSON:</h3>
{{tempString}}

<hr/><h3>With HERO Tags Added:</h3>
{{tags}}

<div class="span6">
  <h3>Resulting Tag Tree:</h3>
  <div id="tags"></div>
</div>

{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    window.app.litStartup(function(lit){
      window.tagtree = new lit.TagTree({{tags|safe}});
      $('#tags').html(window.tagtree.get_nested_list({"show_refs_count": false}))
    });
  </script>
{% endblock extrajs %}