{% extends "portal.html" %}

{% block endheader %}
 	<script type="text/javascript" src="{{STATIC_URL}}debug/jquery/1.9.1/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tooltip.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/manageproject.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/manageusage.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.treeview.js"></script>
	<link href="{{STATIC_URL}}css/jquery/jquery.treeview.css" rel="stylesheet" type="text/css" />
	<link href="{{STATIC_URL}}css/hero/hero_treeview.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
		#content ul{ list-style-type: none !important; }
		#content li ul, #content li { margin: 0 !important; }
		.treeview ul { border:0 !important; }
		.treeview li.last { background-position: initial; }
		.project_checkbox {display: none;}
		.usage_checkbox {display: none;}
	</style>
	<script language="javascript" type="text/javascript">

		$(document).ready(function() {
			$("#addReferenceContent div.tabs").tabs();
			$("#addReferenceContent div.tabs > ul").addClass("tabs-js");

			$(function() {
				setTimeout('$("#tree_2").treeview({prerendered:true})', 500);
				setTimeout('$("#tree_1").treeview({prerendered:true})', 1000);
				setTimeout('$("#tree_21").treeview({prerendered:true})', 1500);
				setTimeout('$("#tree_18").treeview({prerendered:true})', 2000);
				setTimeout('$("#tree_10").treeview({prerendered:true})', 2500);

				$("#tags").tabs();
				tagAction = "tag";
				$(".project_checkbox,.usage_checkbox").click(function() {
					var weAreTagging = ($("#hID_untag:checked").length == 0) ? true : false;
					if (!$(this).hasClass("noParentCheck")) {
						// This element does not have the 'noParentCheck' class, continue
						if ($(this).attr('checked')) {
							if (weAreTagging) {
								checkParent($(this).attr("id"));
							}
							else {
								checkChildren($(this).attr("id"));
							}
						}
						else if (weAreTagging) {
							uncheckChildren($(this).attr("id"));
						}
						else {
							uncheckParent($(this).attr("id"));
						}
					}
				});
			});

			var $addReference = $("#addReference");
			if ($addReference.length > 0) {
				$addReference.find('.button[type="submit"]').button({
					icons: {
						primary: 	'',
						secondary: 	'ui-icon-arrowthick-1-e'
					}
				});

				$addReference.submit(function(event) {
					event.preventDefault();
					var submitForm = false;

					var $otherTabs = $(".twoColumnLeftCell > .ui-tabs-hide").detach();

					var errorMsg = "";
					var warnMsg = "";

					var isTagSelected =  ($addReference.find('input[name="project_id"]:checked').length > 0) || ($addReference.find('input[name="usage_id"]:checked').length > 0);

					var hasImportSource = ($.trim($addReference.find('textarea[name="importData"]').val()) != "");
					if (!hasImportSource) {
						$addReference.find('input[type="file"]').each(function() {
							hasImportSource = hasImportSource || ($(this).val() != "");
						});
					}

					if (!isTagSelected) {
						errorMsg += "Please select at least one Project or Tag.\n";
					}

					if (!hasImportSource) {
						errorMsg += "Please upload one or more files or provide some text.\n";
					}

					if (errorMsg.length) {
						alert(errorMsg);
						$otherTabs.appendTo("div.twoColumnLeftCell");
					} else if (warnMsg.length) {

						if (confirm(warnMsg)) {
							submitForm = true;
						} else {
							$otherTabs.appendTo("div.twoColumnLeftCell");
						}
					} else {
						submitForm = true;
					}

					if (submitForm) {
						$('#th_submit').addClass('disabled').attr('disabled', 'disabled');
						$addReference.unbind("submit").submit();
					}
				});
			}
		});
	</script>
{% endblock %}

{% block title %}
   Tag Tree | HAWC
{% endblock %}

{% block content %}
{{ myVar|safe }}
{% endblock %}
