{% extends 'portal.html' %}

{% load crispy_forms_tags %}
{% load add_class %}
{% load selectable_tags %}

{% block title %}
  {{assessment}} | {{crud}} Evidence Profile | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.id %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">{{crud}}<span class="divider">/</span></li>
{% endblock %}


{% block content %}
  {% crispy form %}

  {% include "summary/_smartTagEditModal.html" with form=smart_tag_form only %}
{% endblock %}

{% block extrajs %}
  {{ smart_tag_form.media }}

  <script type="text/javascript">
    // Run the assessmentStartup() method for this app

    // Attempt to modify the width of the main content <div> to allow for a wider form
    let mainContent = document.getElementById("main-content");
    if (mainContent !== null) {
      // The desired main content <div> was found, set its width
      mainContent.style.width = "1200px";

      // Now look for a <div> element within mainContent that has an ID of "content" and a class of "span9"
      let content = mainContent.querySelector("#content .span9");
      if (content !== null) {
        // The desired <div> was found, look for the first <div> element within its child nodes

        let i = 0;
        let iTo = content.childNodes.length;
        let divElement = null;
        while ((divElement === null) && (i < iTo)) {
          if (content.childNodes[i].tagName === "DIV") {
            // This element is a <div> element, copy a reference of it to divNode
            divElement = content.childNodes[i];
          }

          i++;
        }

        if (divElement !== null) {
          // The desired <div> element was found, set it to the desired width
          divElement.style.width = "678px";
        }
      }
    }

    window.app.assessmentStartup(
      function(assessment) {
        {% if crud == "Create" %}
          // This object is being created, build the 'slug' field based on the 'title' field by updating the slug every
          // time the title is changed (50 character maximum for the slug)
          $('#id_title').on(
            'keyup'
            ,function() {
              $('#id_slug').val(URLify($(this).val(), 50));
            }
          );
        {% endif %}

        // Start up and initialize the Smart Tags JavaScript object
        window.app.smartTagsStartup(
          function(smartTags) {
            // Create a "smart tag" textarea editor for the 'caption' field
            new smartTags.SmartTagEditor($('#id_caption,#id_confidence_judgement_explanation'), {submitEl: '#evidenceProfileForm'});
          }
        );

        // Start up and initialize the Evidence Profile JavaScript object
        window.app.evidenceProfileStartup(
          function(evidenceProfile) {
            // Configure the EvidenceProfile object, passing in a configuration object and the current evidenceProfile object as generated by
            // the server-side Python code
            // The configuration object includes sub-objects for the:
            //    * top-level form
            //    * Cross-Stream Inferences formset
            //    * Profile Streams formset
            //    * <<others as needed in future development>>
            evidenceProfile.EvidenceProfile.configure(
              {
                form: {
                  id: "evidenceProfileForm",
                  captionDiv: "div_id_caption",
                  actionsClass: "form-actions",
                  confidenceJudgements: evidenceProfile.Library.setConfidenceJudgements({{confidence_judgements|safe}}),
                },
                crossStreamInferences: {
                  divId: "div_id_inferences",
                  tableId: "table_inferences",
                  addButtonId: "add_inference_row",
                  rowIdPrefix: "row_inference",
                  fieldPrefix: "inference",
                  buttonSetPrefix: "btn_inference",
                  buttonSetRegEx: new RegExp("^btn_inference_(\\d+)_(moveup|movedown|remove|showinference|hideinference)$", "gi"),
                },
                streams: {
                  divId: "div_id_streams",
                  addButtonId: "add_stream_div",
                  streamIdPrefix: "div_stream",
                  fieldPrefix: "stream",
                  buttonSetPrefix: "btn_stream",
                  buttonSetRegEx: new RegExp("^btn_stream_(\\d+)_(moveup|movedown|remove)$", "gi"),
                  streamTypes: evidenceProfile.Library.setStreamTypes({{stream_types|safe}}),
                  outcomesFormset: {
                    tableIdPattern: "table_outcomes_<<streamIndex>>",
                    outcomeIdPrefixPattern: "row_outcome_<<streamIndex>>",
                    fieldPrefixPattern: "stream_<<streamIndex>>",
                    addButtonIdPattern: "add_outcome_row_<<streamIndex>>",
                    buttonSetPrefixPattern: "btn_outcome_<<streamIndex>>",
                    buttonSetRegEx: new RegExp("^btn_outcome_(\\d)_(\\d)_(moveup|movedown|remove|showoutcome|hideoutcome)$", "gi"),
                    scenariosFormFragmentClass: "div_scenario",
                  },
                  scenariosFormset: {
                    divIdPattern: "div_scenarios_<<streamIndex>>",
                    addButtonIdPattern: "add_scenario_div_<<streamIndex>>",
                    buttonSetPrefixPattern: "btn_scenario_<<streamIndex>>",
                    fieldPrefixPattern: "stream_<<streamIndex>>",
                    buttonSetRegEx: new RegExp("^btn_scenario_(\\d)_(\\d)_(moveup|movedown|remove)$", "gi"),
                    scenarioIdPrefix: "div_scenario",
                    confidenceFactorsIncrease: evidenceProfile.Library.setConfidenceFactors({{confidence_factors_increase|safe}}),
                    confidenceFactorsDecrease: evidenceProfile.Library.setConfidenceFactors({{confidence_factors_decrease|safe}}),
                  },
                },
              },
              {{evidenceProfile|safe}},
            );

            // Add an <hr /> tag just below the "caption" field in the form
            evidenceProfile.Library.addHRTag("caption", "after");

            // Create the Evidence Profile Streams formset and add it to the Evidence Profile form
            evidenceProfile.EvidenceProfile.buildEvidenceProfileStreamsFormset();

            // Create the Cross-Stream Inferences formset and add it to the Evidence Profile form
            evidenceProfile.EvidenceProfile.buildCrossStreamInferencesFormset();
          }
        );
      }
    );
  </script>
{% endblock extrajs %}
