{% extends 'portal.html' %}
{% load keyvalue %}
{% load evidenceprofile_confidencejudgement %}
{% load evidenceprofile_summaryoffindings %}
{% load evidenceprofile_listobjects %}

{% block title %}
	{{assessment}} | Evidence Profile Table | {{object}} | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Read" %}
	 <li class="active">{{object}}<span class="divider">/</span></li>
  {% else %}
	 <!-- Update or delete -->
  	<li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
	 <li class="active">{{crud}}<span class="divider">/</span></li>
  {% endif %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>
    {{object}}
    <div class="btn-group pull-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'summary:evidence_profile-list' %}?assessment_id={{assessment.id}}&id={{object.id}}&format=json">Download JSON Object</a></li>
        {% if obj_perms.edit %}
          <li class="divider"></li>
          <li><a href="{% url "summary:evidenceprofile_update" assessment.pk object.slug %}">Edit Report Details</a></li>
          <li><a href="{% url "summary:evidenceprofile_delete" assessment.pk object.slug %}">Delete Report</a></li>
        {% endif %}
      </ul>
    </div>
  </h1>

  {% block evidence_profile_table %}
    <table id="evidenceProfileTable">
      <tr class="headerRow">
        {% if "outcome" in columnsToShow %}
          <td style="width:{{columnWidth}}%;">Outcome</td>
        {% endif %}
        <td style="width:{{columnWidth}}%;">Studies</td>
        <td style="width:{{columnWidth}}%;">Factors That <em>Increase</em> Confidence</td>
        <td style="width:{{columnWidth}}%;">Factors That <em>Decrease</em> Confidence</td>
        {% if "scenarioConfidenceJudgement" in columnsToShow %}
          <td style="width:{{columnWidth}}%; font-size:0.9em;">Confidence Judgement and Summary of Findings for Individual Outcome</td>
        {% endif %}
        <td style="width:{{columnWidth}}%;">Within-Stream Confidence Judgement and Summary of Findings</td>
        <td style="width:{{columnWidth}}%;">Inference Across Streams</td>
        <td style="width:{{columnWidth}}%;">Across-Stream Confidence Judgement</td>
      </tr>

      <tr class="bodyRow">
        <td colspan="{{streamNameSpan}}" class="bodyCellStreamTitle">
          {% if tableBodyRows > 1 %}
            {% with stream=evidenceProfile.streams|first %}
              {% if stream.stream_title == "" %}
                Stream Has No Title
              {% else %}
                {{stream.stream_title|safe}}
                {% if stream.stream_type in stream_types %}
                  <em>({{stream_types|keyvalue:stream.stream_type}})</em>
                {% endif %}
              {% endif %}
            {% endwith %}
          {% else %}
            No Streams In Evidence Profile
          {% endif %}
        </td>
        <td rowspan="{{tableBodyRows|safe}}">
          {% evidenceprofile_listobjects evidenceProfile.cross_stream_inferences %}
        </td>
        <td rowspan="{{tableBodyRows|safe}}">
          {% evidenceprofile_confidencejudgement evidenceProfile.cross_stream_confidence_judgement %}
        </td>
      </tr>

      {% for stream in evidenceProfile.streams %}
        {% if forloop.counter > 1 %}
          <tr class="bodyRow">
            <td colspan={{streamNameSpan}} class="bodyCellStreamTitle">
              {% if stream.stream_title == "" %}
                Stream Has No Title
              {% else %}
                {{stream.stream_title|safe}}
                {% if stream.stream_type in stream_types %}
                  <em>({{stream_types|keyvalue:stream.stream_type}})</em>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endif %}

        {% if stream.scenarios %}
          {% for scenario in stream.scenarios %}
            <tr class="bodyRow">
              {% if "outcome" in columnsToShow %}
                <td>
                  {% if scenario.scenario_name == "" %}
                    Scenario Has No Name
                  {% else %}
                    {{scenario.scenario_name|safe}}
                  {% endif %}
                </td>
              {% endif %}

              <td>
                {% for effect in scenario.studies %}
                  <div class="smallTitle">{{effect.name}}</div>
                  {% if effect.studies %}
                    <ul style="padding-bottom:3px;">
                      {% for study in effect.studies %}
                        <li class="smallTextBlock"><span class="moveLILeft"><em>{{effect.studyTitles|keyvalue:study}}</em></li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <div class="smallNA" style="margin-top:-4px;">N/A</div>
                  {% endif %}
                {% endfor %}
              </td>

              <td>
                {% evidenceprofile_listobjects scenario.confidencefactors_increase %}
              </td>

              <td>
                {% evidenceprofile_listobjects scenario.confidencefactors_decrease %}
              </td>

              {% if "scenarioConfidenceJudgement" in columnsToShow %}
                <td>
                  {% evidenceprofile_confidencejudgement scenario.outcome %}

                  {% if "title" in scenario.summary_of_findings and scenario.summary_of_findings.title != "" %}
                    <br />
                    <hr style="margin:-6px 0 0 0;" />
                    <br />

                    {% evidenceprofile_summaryoffindings scenario.summary_of_findings %}
                  {% endif %}
                </td>
              {% endif %}

              {% if forloop.counter == 1 %}
                <td rowspan="{{streamDataRows|keyvalue:stream.pk}}">
                  {% evidenceprofile_confidencejudgement stream.confidence_judgement %}

                  {% if "title" in stream.summary_of_findings and stream.summary_of_findings.title != "" %}
                    <br />
                    <hr style="margin:-6px 0 0 0;" />
                    <br />

                    {% evidenceprofile_summaryoffindings stream.summary_of_findings %}
                  {% endif %}
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% else %}
          <tr class="bodyRow">
            <td>No Scenarios In Stream</td>
            <td rowspan="{{streamRows|keyvalue:stream.pk}}">
              {{stream.confidence_judgement|safe}}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <div id="caption">{{evidenceProfile.caption|safe}}</div>
  {% endblock evidence_profile_table %}
{% endblock content %}

{% block extrajs %}
  <style>
    #evidenceProfileTable {
      width: 100%;
      font-size: 0.9em;
    }

    tr.headerRow td {
      font-weight: bold;
      text-align: center;
      vertical-align: bottom;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    tr.bodyRow td {
      font-weight: normal;
      font-size: 0.85em;
      text-align: left;
      vertical-align: top;
      padding: 0 3px 0 3px;
    }

    td.bodyCellStreamTitle {
      background: #DDDDDD;
      font-size: 1.12em;
      font-weight: bold;
    }

    i.judgementScore_pips {
      padding-left: 0.5px;
      padding-right: 0.5px;
      font-weight: bold;
    }

    div.judgementScore_name {
      text-align: center;
      font-weight: bold;
    }

    div.smallTitle {
      text-align: center;
      font-weight: bold;
      font-size: 0.85em;
      line-height: 0.87em;
      padding: 0;
    }

    .smallTextBlock {
      font-size: 0.85em;
      line-height: 0.87em;
      padding: 0 0 6px 0;
    }

    div.smallNA {
      text-align: center;
      padding-bottom: 3px;
    }

    span.moveLILeft {
      position: relative;
      left: -6px;
    }

    span.pipOpen {
      position: relative;
      top: 1px;
      font-size: 0.88em;
    }
  </style>
{% endblock extrajs %}
