{% extends 'portal.html' %}

{% block title %}
	{{assessment}} | Evidence Profile Table | {{object}} | HAWC
{% endblock title %}

{% block breadcrumbs %}
  <li><a href="{% url 'assessment:detail' pk=assessment.pk %}">{{ assessment }}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.pk %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Read" %}
	 <li class="active">{{object}}<span class="divider">/</span></li>
  {% else %}
	 <!-- Update or delete -->
  	<li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
	 <li class="active">{{crud}}<span class="divider">/</span></li>
  {% endif %}
{% endblock breadcrumbs %}

{% block content %}
  <h1>
    {{object}}
    <div class="btn-group pull-right">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'summary:evidence_profile-list' %}?assessment_id={{assessment.id}}&id={{object.id}}&format=json">Download JSON Object</a></li>
        {% if obj_perms.edit %}
          <li class="divider"></li>
          <li><a href="{% url "summary:evidenceprofile_update" assessment.pk object.slug %}">Edit Report Details</a></li>
          <li><a href="{% url "summary:evidenceprofile_delete" assessment.pk object.slug %}">Delete Report</a></li>
        {% endif %}
      </ul>
    </div>
  </h1>

  {% block evidence_profile_table %}
    <table id="evidenceProfileTable">
      <tr>
        <td class="headerCenter" style="width:12.5%;">Outcome</td>
        <td class="headerCenter" style="width:12.5%;">Studies</td>
        <td class="headerCenter" style="width:12.5%;">Factors That <em>Increase</em> Confidence</td>
        <td class="headerCenter" style="width:12.5%;">Factors That <em>Decrease</em> Confidence</td>
        <td class="headerCenter" style="width:12.5%; font-size:0.9em;">Summary of Findings and Confidence Judgement for Individual Outcome</td>
        <td class="headerCenter" style="width:12.5%;">Within-Stream Confidence Judgement</td>
        <td class="headerCenter" style="width:12.5%;">Inference Across Streams</td>
        <td class="headerCenter" style="width:12.5%;">Across-Stream Confidence Judgement</td>
      </tr>

      {% for stream in evidenceProfile.streams %}
      <tr>
        <td>Stream</td>
      </tr>
      {% endfor %}
    </table>
    <div id="caption">{{evidenceProfile.caption|safe}}</div>
  {% endblock evidence_profile_table %}
{% endblock content %}

{% block extrajs %}
  <style>
    #evidenceProfileTable {
      font-size: 0.9em;
    }

    .headerCenter {
      font-weight: bold;
      text-align: center;
      vertical-align:bottom;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  </style>
{% endblock extrajs %}
