{% extends 'portal.html' %}

{% load crispy_forms_tags %}
{% load add_class %}
{% load selectable_tags %}

{% block title %}
  {{assessment}} | {{crud}} Evidence Profile | HAWC
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{{assessment.get_absolute_url}}">{{assessment}}</a><span class="divider">/</span></li>
  <li><a href="{% url 'summary:visualization_list' assessment.id %}">Visualizations</a><span class="divider">/</span></li>
  {% if crud == "Update" %}
    <li><a href="{{object.get_absolute_url}}">{{object}}</a><span class="divider">/</span></li>
  {% endif %}
  <li class="active">{{crud}}<span class="divider">/</span></li>
{% endblock %}


{% block content %}
  {% crispy form %}
  {% include "summary/_smartTagEditModal.html" with form=smart_tag_form only %}
{% endblock %}

{% block extrajs %}
  {{ smart_tag_form.media }}

  <script type="text/javascript">
    // Run the assessmentStartup() method for this app
    window.app.assessmentStartup(
      function(assessment) {
        {% if crud == "Create" %}
          // This object is being created, build the 'slug' field based on the 'title' field by updating the slug every
          // time the title is changed (50 character maximum for the slug)
          $('#id_title').on(
            'keyup'
            ,function() {
              $('#id_slug').val(URLify($(this).val(), 50));
            }
          );
        {% endif %}

        // Start up and initialize the Smart Tags JavaScript object
        window.app.smartTagsStartup(
          function(smartTags) {
            // Create a "smart tag" textarea editor for the 'caption' field
            new smartTags.SmartTagEditor($('#id_caption,#id_confidence_judgement_explanation'), {submitEl: '#evidenceProfileForm'});
          }
        );

        // Start up and initialize the Evidence Profile JavaScript object
        window.app.evidenceProfileStartup(
          function(evidenceProfile) {
            // Create desired JavaScript objects from available Python objects
            var streamTypes = evidenceProfile.Library.setStreamTypes({{stream_types|safe}});
            var confidenceJudgements = evidenceProfile.Library.setConfidenceJudgements({{confidence_judgements|safe}});
            var increaseConfidenceFactors = evidenceProfile.Library.setConfidenceFactors({{increase_confidence_factors|safe}});
            var decreaseConfidenceFactors = evidenceProfile.Library.setConfidenceFactors({{decrease_confidence_factors|safe}});

            // Configure the EvidenceProfile object
            evidenceProfile.EvidenceProfile.configure(
              {
                "formId": "evidenceProfileForm"
                ,"formActionsClass": "form-actions"
              }
            );

            // Get the EvidenceProfile object provided by Python (it is the first element in the serialized QuerySet)
            var object = {{evidenceProfile|safe}};
            if (object.length > 0) {
              object = object[0];
            }
            else {
              object = {};
            }

            console.log({{evidenceProfile|safe}});

            /*
            // Get the child Evidence Profile Streams from the Python object and use them to build the Streams formset
            evidenceProfile.EvidenceProfile.buildStreamFormset("evidenceProfileForm", {{streams|safe}});

            // Get the Cross-Stream Conclusions from the Python object and use them to build the Cross-Stream Inferences formset
            evidenceProfile.EvidenceProfile.buildCrossStreamInferencesFormset("evidenceProfileForm", {{cross_stream_conclusions|safe}});

            // Add an <hr /> tag just below the "caption" field in the form
            evidenceProfile.EvidenceProfile.addHRTag("caption", "after");

            // Add an <hr /> tag just below the "confidence_judgement_explanation" field in the form
            evidenceProfile.EvidenceProfile.addHRTag("confidence_judgement_explanation", "after");
            */
          }
        );
      }
    );
  </script>
{% endblock extrajs %}
