.outcomesTable {
	width: 628px;
}

.outcomesClearBoth {
	clear: both;
}

.outcomesHeaderCell {
    border: 0;
    font-size: 0.9em;
}

.outcomeCaptionCell {
    border-width: 0 0 5px 0;
    border-color: #E9FFE9;
	background-color: #006000;
	color: #FFFFFF;
	text-align: left;
    padding: 0 5px 3px 5px;
    display: table-cell;
}

.outcomesBodyCell {
    border: 0;
    vertical-align: top;
    padding: 5px 5px 2px 5px;
}

.outcomeColumn_leftButton {
    width: 39px;
    display: table-cell;
}

.outcomeColumn_title {
    width: 168px;
    display: table-cell;
}

.outcomeColumn_expalnation {
    width: 382px;
    display: table-cell;
}

.outcomeColumn_rightButtons {
    width: 39px;
    display: table-cell;
}

.showOutcomeButton {
	margin: 0 10px 0 0;
}
