{% extends 'portal.html' %}

{% load add_class %}
{% load get_at_index %}
{% load crispy_forms_tags %}

{% block title %}
  {% include "hawc/siteTitle.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock title %}

{% block breadcrumbs %}
  {% include "hawc/breadcrumbs.html" with crumbs=object.get_crumbs crud=crud %}
{% endblock %}

{% block content %}
    <h2>{{object}}</h2>
	{% if object.study %}
        {% if object.final and not object.study_reviews_complete %}
            <h4 class="alert alert-danger">All other risk of bias reviews for
                {{object.study}} must be complete in order to complete the final review.
            </h4>
        {% else %}
            <div id='robTable'></div>
        {% endif %}
	{% elif object.baseendpoint %}
        {% if object.final and not object.endpoint_reviews_complete %}
            <h4 class="alert alert-danger">All other risk of bias reviews for
                {{object.baseendpoint}} must be complete in order to complete the final review.
            </h4>
        {% else %}
            <div id='robTable'></div>
        {% endif %}
	{% endif %}
{% endblock %}

{% block extrajs %}
  <script id="config" type="text/json" charset="utf-8">
      {
          "assessment_id": "{{ assessment.id }}",
	{% if object.study %}
          "study": {
              "id": "{{ object.study.pk }}",
              "url": "{% url 'study:api:study-list' %}"
          },
		  "robtype": "study",
          "riskofbias": {
              "id": "{{ object.pk }}"  ,
              "url": "{% url 'riskofbias:api:review-list' %}"
          },
	{% elif object.baseendpoint %}
          "endpoint": {
              "id": "{{ object.baseendpoint.pk }}/rob_scores",
              "url": "{% url 'animal:api:endpoint-list' %}"
          },
		  "robtype": "endpoint",
          "riskofbias": {
              "id": "{{ object.pk }}"  ,
              "url": "{% url 'riskofbias:api:reviewpe-list' %}"
          },
	{% endif %}
          "cancelUrl": "{{back_url}}",
          "csrf": "{{ csrf_token }}",
          "host": "//{{request.get_host}}",
          "isForm": true,
          "display": {% if object.final %} "final" {% else %} "all" {% endif %}
      }
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
        window.app.robTableStartup(document.getElementById('robTable'));
    });
  </script>
{% endblock extrajs %}
